.sort-menu {
    border: 1px solid lightgray;
    background: transparent;
    height: 30px;
    outline: none;
    display: flex;
    float: right;
    margin-top: 20px; 
    margin-right: 30px;
    display: flex;
}

.sort {
    display: flex;
    justify-content: flex-end;
}

@media only screen and (max-width: 650px) {

    .sort-menu {
        display: flex;
        justify-content: center;
        border: 1px solid lightgray;
        border-radius: 2px;
        background: transparent;
        height: 20px;
        outline: none;
        margin-left: 100px;
        
    }

    .sort {
        display: flex;
        justify-content: center;
    }
}