.prod-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    width: 55%;
    height: auto;
    margin-top: 20px;
}

.description {
    font-size: 18px;
}

.brand {
    font-size: 15px;
}

.price {
    font-size: 16px;
}