.prod-container {
    margin-top: 40px;
    margin-bottom: 20px;
    /* margin: 10px; */
}

.prod-image {
    width: 70%;
    height: auto;
    padding: 15px;
    margin: 15px;
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
}

.description {
    font-size: 15px;
    margin: .7em;
}

.price {
    font-size: 15px;
    margin: 0 auto;
    width: 50px;
    border-top: 1px solid black;
    padding-top: 10px;
}


@media only screen and (max-width: 650px) {
    .prod-image {
        width: 90%;
    }

    .prod-container {
        margin-top: 15px;
    }
}