.shoe-container {
    margin-top: 40px;
    margin-bottom: 20px;
    text-decoration: none;
}

.shoe-image {
    width: 70%;
    height: auto;
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
}

.shoe-image:hover {
    width: 73%;
}

.shoe-description {
    font-size: 15px;
    margin: .7em;
    text-decoration: none;
}

.shoe-brand {
    font-size: 13px;
    color: #4c4c4b;
    margin: .5em;
}

.shoe-price {
    font-size: 15px;
    margin: 0 auto;
    border-top: 1px solid black;
    width: 40px;
    padding-top: 10px;
}

@media only screen and (max-width: 650px){
    .shoe-image {
        width: 90%;
    }

    .shoe-container {
        margin-top: 15px;
    }
}
