.shoe-details-container {
    margin: 0;
}

.shoe-image {
    width: 70%;
    padding-top: 12px;
    padding-bottom: 12px;
    margin: 5px;
}

.shoe-description {
    font-size: 15px;
    margin: .7em;
    margin-top: 0;
}

.shoe-price {
    font-size: 15px;
    margin: 0 auto;
    width: 50px;
    border-top: 1px solid black;
    padding-top: 10px;
}



@media only screen and (max-width: 650px){
 
    .shoe-details-container {
        margin-top: 15px;
    }

    


}
