.top {
    height: 100%;
    width: 94%;
    margin-top: 4px;
}

.top-container {
    position: relative;
    text-align: center;
    color: white;
    font-size: 13px;
}

.top-text {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%); 
    border: 1px solid white;
    width: 100px;
    padding: 14px;
    text-align: center;
}

.top-text:hover {
    border: none;
    color: black;
    background: white;
}

.mid-container {
    position: relative;
    text-align: center;
    font-size: 26px;
}

.mid-left {
    position: absolute;
    top: 88%;
    left: 25%;
}

.mid-left {
    text-decoration: none;
    color: white;
    border-bottom: 1px solid transparent;
    transition: border-bottom-color 50ms linear 0s;
    padding-bottom: .25em;
}

.home-hover {
    text-decoration: none;
    color: white;
}

.mid-left:hover {
    border-bottom-color: white;
}

.mid-right {
    position: absolute;
    top: 88%;
    right: 25%;
}

.mid-right {
    text-decoration: none;
    color: white;
    border-bottom: 1px solid transparent;
    transition: border-bottom-color 50ms linear 0s;
    padding-bottom: .25em;
    
}

.mid-right:hover {
    border-bottom-color: white;
}

.mid {
    width: 40%;
    height: auto;
    padding: 30px;
}

@media only screen and (max-width: 780px) {

    .mid-left {
        top: 33%;
        left: 34%;
    }

    .mid-right {
        top: 80%;
        right: 38%;
    }

    .mid {
        width: 80%;
        height: auto;
        padding: 20px;
    }

    .top {
        display: none;
    }
}