.contact-us {
    font-size: 18px;
    
}

.contact p {
    color: gray;
}

.about-pic {
    width: 94%;
    margin-top: 10px;
}

.help {
    font-size: 20px;
    margin-top: 25px;
}

.about {
    margin-top: 10px;
    
}

.about-us {
    width: 50%;
    line-height: 30px;
    text-align: justify;
    color: #4c4c4b;   
    font-size: 15px; 
    margin-top: 25px;
}

.about-title {
    margin-top: 20px;
    font-size: 24px;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    width: 94%;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
}

.about {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
}