.nav {
    text-align: right;
    background: transparent;
    height: 9vh;
}

.nav:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

/* 
.live-in-noir {
    width: 320px;
    height: 37px;
    display: flex;
    align-content: center;
    align-items: center;
} */

.menu .logo {
    color: black;
    letter-spacing: 5px;
    font-size: 28px;
    display: flex;
    justify-content: flex-start;
    width: 400px;
    margin-top: 15px;
    margin-left: 20px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.routes {
    width: 400px;
    margin-top: 25px;
    display: flex;
    justify-content: flex-end;
    float: left;
    align-content: center;
    align-items: center;
    margin-right: 10px;
}

.menu p {
    clear: right;
    text-decoration: none;
    display: inline;
    margin: 0 30px;
    font-size: 13px;
    letter-spacing: 1px;
}

.logout {
    clear: right;
    text-decoration: none;
    display: inline;
    font-size: 13px;
    letter-spacing: 1px; 
    color: black;
}

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
}

#toggle {
    display: none;
}

@media only screen and (max-width: 650px) {
    label {
        display: block;
        cursor: pointer;
        color: black;
    }

    .menu {
        text-align: center;
        width: 100%;
        display: none;
        background: white;
    }
    .menu p {
        display: block;
        background: white;
        margin: 0;
        text-align: left;
        padding-left: 15px;
        height: 50px;
        display: flex;
        align-items: center;

    }
    #toggle:checked + .menu {
        display: block;
        background: white;
    }

    
}