.footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    font-size: 13px;
    font-family: graphik, "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-top: 1px solid #a3a5a7;
    margin-top: 15px;
}

.footer-info {
    display: flex;
    flex-direction: row;
}

.section {
    padding: 5px 20px;
    padding-left: 30px;
    display: flex;
    justify-content: flex-start;
}

.column {
    list-style-type: none;
    text-align: left;
    color: #4c4c4b;
}

.link-header {
    font-size: 13.5px;
}

.link {
    padding: 6px;
    color: #a3a5a7;
}

.link:hover {
    color: #4c4c4b;
}

.footer-quote {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;

}

.quote {
    color: #4c4c4b;
    display: flex;
    font-size: 15px;
}

@media only screen and (max-width: 650px) {

    .footer-nav {
        display: flex;
        flex-direction: column;
        justify-content: center; 
    }

    .section {
        margin: 0;
        padding: 0;
    }

    .footer-quote {
        margin-bottom: 15px;
    }
    
}