@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

.footer {
    display: flex;
}

.footer-left {
    width: 350px;
    display: flex;
    flex-direction: column;
    margin-top: 15px;

}
.footer-social-icons {
    width: 350px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.social-icon {
    color: #fff;
}

ul.social-icons {
    margin-top: 10px;
}

.social-icons li {
    vertical-align: top;
    display: inline;
}

.social-icons a {
    color: #fff;
    text-decoration: none;
}

.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}

.fa-facebook:hover {
    background-color: grey;
}

.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}

.fa-twitter:hover {
    background-color: grey;
}

.fa-instagram {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}

.fa-instagram:hover {
    background-color: grey;
}