.details-brand {
  margin: 0;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 26px;
  color: #4c4c4b;
}

.details-descrip {
  margin: 0;
  margin-top: 8px;
  font-size: 22px;
}

.details-price {
  margin: 0;
  margin-top: 15px;
}

.shoes-image-details {
  width: 70%;
  margin-top: 10px;
}

.shoes-details-page {
  margin-top: 40px;
}

.add {
  width: 250px;
  height: 50px;
  margin-top: 20px;
  font-size: 15px;
  background: #2c2c2c;
  color: white;
  transition: 0.5s;
  margin-bottom: 20px;
}

.add:hover {
  border: 1px solid black;
  color: white;
  background: #4c4c4b;
  transition: 0.5s;
  cursor: pointer;
}

.swal-button {
  background: #4c4c4b;
  border-radius: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.shoe-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Arimo", sans-serif;
}

.editors-note {
  width: 65%;
  text-align: justify;
  text-align: center;
}

@media only screen and (min-width: 1000px) {
  .details-brand {
    margin: 0;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 28px;
    color: #4c4c4b;
  }

  .details-descrip {
    margin: 0;
    margin-top: 8px;
    font-size: 22px;
  }

  .details-price {
    margin: 0;
    margin-top: 15px;
  }

  .image-details {
    width: 80%;
    margin-top: 10px;
  }

  .shoes-details-images {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .shoes-details-page {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
  }

  .shoe-info {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: flex-start;
    margin-left: 70px;
    margin-top: 50px;
  }

  .editors-note {
    width: 60%;
    text-align: left;
    text-align: justify;
  }

  .add {
    width: 350px;
    height: 50px;
    margin-top: 20px;
    font-size: 15px;
    background: #2c2c2c;
    color: white;
    transition: 0.5s;
    margin-bottom: 20px;
  }
}
