.product-details-page {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.details-images {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    padding-left: 140px;
}

.image-details {
    width: 400px;
    height: auto;
    margin: 10px;
}

.product-info {
    width: 35%;
    padding-left: 40px;
    position: fixed;
    padding-left: 650px;
    margin-top: 120px;
    text-align: left;
}

.add {
    width: 90%;
    height: 50px;
    margin-top: 20px;
    font-size: 16px;
    background: #2c2c2c;
    color: white;
}

.add:hover {
    border: 1px solid black;
    color: black;
    background: none;
}

.editors-note {
    width: 90%;
}