.edit-save {
    height: 26px;
    width: 60px;
    background: #f3f3f3;
}

.fav-input {
    height: 20px;
    text-align: center;
}

.favs-list-title {

}

.fav-image {
   width: 90%;
   display: flex;
   margin: 10px;
}

.favs-list {
    width: 23%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.unlike {
    width: 50px;
}

.x-unlike {
    height: 2vh;
    padding-top: 20px;
}

.my-likes {
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 14px;
    padding-bottom: 10px;
    border-bottom: .5px solid gray;
}

.favs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.liked {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.title-save {
    display: flex;
}

@media only screen and (max-width: 650px) {
    .favs-list {
        width: 40%;
    }

    .title-save {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

}